<head>
	<title>KatteKits</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="{% static 'css/Katte.css' %}">
</head>
<h1>Welcome to KatteKits!!</h1>
<table>
	<tbody>
		<tr>
			<td><li>
				<a href = "{% url 'Katte:Katte' %}">Katte!</a>
			</li></td>
			<td><li>
				グループで共有できるお買い物メモ
			</td></li>
		</tr>
		<tr>
			<td><li>
				<a href = "{% url 'Katte:Dokode' %}">Dokode?</a>
			</td></li>
			<td><li>
				お買い物場所を記録するメモ
			</td></li>
		</tr>
		<tr>
			<td><li>
				<a href = "{% url 'Katte:KattaLog' %}">KattaLog</a>
			</td></li>
			<td><li>
				お買い物情報のログ管理（開発中）
			</td></li>
		</tr>
		<tr>
			<td><li>
				Kondatte!
			</td></li>
			<td><li>
				CookPadを検索してレシピをKatteに記録するご飯アプリ（開発中）
			</td></li>
		</tr>
	</tbody>
</table>
